//////////////////////////////////////////////////////////////
/// _project.scss
//////////////////////////////////////////////////////////////

@use "../../foundation/base";


@mixin catch_ctn_setting {
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 4.2vw;
    color: base.$darkBlue;
    text-align: center;

    &::before {
        content: '';
        position: absolute;
        width: 4vw;
        height: 4.5vw;
        left: -6vw;
        bottom: 1.3vw;
        background-image: url(../img/line_left.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    &::after {
        content: '';
        position: absolute;
        width: 4vw;
        height: 4.5vw;
        right: -6vw;
        bottom: 1.3vw;
        background-image: url(../img/line_right.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}

//////////////////////////////////////////////////////////////
/// .p-secFeature
.p-secFeature {
    &__h2 {
        position: relative;
        height: 51vw;
        background-image: url(../img/fukidashi1.svg), linear-gradient(base.$mainBlue 0%, base.$mainBlue 100%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 87%, cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__img1 {
            width: 81.8vw;
        }

        &__img2 {
            position: absolute;
            width: 23vw;
            top: 84%;
            left: -1.5%;
            transform: rotate(13.46deg);
        }
    }

    &__boxCatch {
        padding: 27vw 0 11vw;
        background-image: url(../img/star1.svg), url(../img/star2.svg), url(../img/star3.svg);
        background-repeat: no-repeat;
        background-size: 18vw 18vw, 41vw 41vw, 43vw 43vw;
        background-position: 109% 51%, -12% 210%, 87% -69%;
    }

    &__catch1 {
        @include catch_ctn_setting;
    }

    &__catch2 {
        margin-top: 5.6vw;
        @include catch_ctn_setting;
    }

    &__wrapper {
        @include base.common_padding_sp;
    }
}