//////////////////////////////////////////////////////////////
/// _project.scss
//////////////////////////////////////////////////////////////

@use "../../foundation/base";


@mixin catch_ctn_setting {
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 4.2vw;
    color: base.$darkBlue;
    text-align: center;

    &::before {
        content: '';
        position: absolute;
        width: 4vw;
        height: 4.5vw;
        left: -6vw;
        bottom: 1.3vw;
        background-image: url(../img/line_left.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    &::after {
        content: '';
        position: absolute;
        width: 4vw;
        height: 4.5vw;
        right: -6vw;
        bottom: 1.3vw;
        background-image: url(../img/line_right.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}

//////////////////////////////////////////////////////////////
/// .p-secFeature
.p-secFeature {
    padding-bottom: 13vw;

    &__h2 {
        position: relative;
        height: 51vw;
        background-image: url(../img/sp/fukidashi1_sp.svg), linear-gradient(base.$mainBlue 0%, base.$mainBlue 100%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 87%, cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include base.mq(tab) {
            background-image: url(../img/fukidashi1.svg), linear-gradient(base.$mainBlue 0%, base.$mainBlue 100%);
            background-size: 64%, cover;
        }

        &__img1 {
            width: 81.8vw;
            
            @include base.mq(tab) {
                width: 74vw;
            }
        }

        &__img2 {
            position: absolute;
            width: 23vw;
            top: 84%;
            left: -3%;
            transform: rotate(13.46deg);

            @include base.mq(tab) {
                width: 26vw;
                top: 52%;
            }
        }
    }

    &__boxCatch {
        padding: 27vw 0 11vw;
        background-image: url(../img/star1.svg), url(../img/star2.svg), url(../img/star3.svg);
        background-repeat: no-repeat;
        background-size: 18vw 18vw, 41vw 41vw, 43vw 43vw;
        background-position: 109% 51%, -12% 210%, 87% -69%;
    }

    &__catch1 {
        @include catch_ctn_setting;
    }

    &__catch2 {
        margin-top: 5.6vw;
        @include catch_ctn_setting;
    }

    &__wrapper {
        @include base.common_padding_sp;
    }

    &__container {
        margin-top: 7vw;

        &__img {
            width: 90%;
        }

        &__p {
            width: 93vw;
            margin-right: 0;
            margin-left: auto;
            margin-top: -37vw;
            padding: calc(37vw + base.px_to_rem(8)) base.px_to_rem(17) base.px_to_rem(56);
            color: base.$darkBlue;
            border: 1px solid base.$yellow;
            border-radius: 13vw;
        }
    }
}

//////////////////////////////////////////////////////////////
/// .p-secLineup
.p-secLineup {
    border-top: 17px solid base.$mainBlue;
    @include base.common_padding_sp;
    padding-top: 70px;

    &__grid {
        margin-top: 56px;
        display: grid;
        grid-template-columns: repeat(auto-fit, 245px);
        justify-content: center;
        gap: 39px;

        &__box {
            border: 1px solid base.$gray;
            border-radius: 27px;
            overflow: hidden;
            font-size: base.px_to_rem(17);
            color: base.$darkGray;
        }

        &__img {
            display: block;
            width: 39%;
            margin: 31px auto 22px;
        }

        &__name {
            margin: 0px 16px 9px;
        }

        &__price {
            margin: 0px 16px 31px;
        }
    }

    &__btn {
        margin: 84px auto 0;
    }
}

//////////////////////////////////////////////////////////////
/// .p-secBlog
.p-secBlog {
    margin-top: 235px;
    @include base.common_padding_sp;

    &__box {
        padding: 14px 11px 14px;
        background-color: base.$mainBlue;
        border-radius: 27px;
    }

    &__h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 42px;

        &__imgFace {
            width: 130px;
        }

        &__imgText {
            margin-top: -47px;
            width: 315px;
        }
    }

    &__fukidashi {
        position: relative;
        padding: 18px 27px;
        // width: 90%;
        margin-right: 0;
        margin-left: 35px;
        background-color: white;
        border-radius: 27px;
        font-size: base.px_to_rem(18);
        color: base.$darkBlue;

        &+& {
            margin-top: 20px;
        }

        &:before {
            position: absolute;
            content: '';
            width: 35px;
            height: 43px;
            top: 20px;
            left: -33px;
            background-image: url(../img/part_fukidashi.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right;
        }

        &__dt {
            margin-bottom: 13px;
        }
    }

    &__btn {
        margin: 42px auto 0;
    }
}

//////////////////////////////////////////////////////////////
/// .p-secNews
.p-secNews {
    margin-top: 184px;
    @include base.common_padding_sp;

    &__h2 {
        margin-bottom: 56px;
    }

    &__dl {
        padding: 15px 28px;
        font-size: base.px_to_rem(18);
        color: base.$darkBlue;
        border-top: 1px solid base.$mainBlue;

        &:last-of-type {
            border-bottom: 1px solid base.$mainBlue;
        }
    }

    &__dt {
        margin-bottom: 9px;
    }

    &__btn {
        margin: 84px auto 0;
    }
}

//////////////////////////////////////////////////////////////
/// .p-secBanne
.p-secBanner {
    margin-top: 152px;
}

//////////////////////////////////////////////////////////////
/// .p-secInformation
.p-secInformation {
    margin-top: 184px;
    @include base.common_padding_sp;
    color: base.$darkBlue;

    &__p1 {
        margin-top: 56px;
        margin-bottom: 36px;
        font-size: base.px_to_rem(24);
    }

    &__cnt {
        display: flex;

        &:not(:last-of-type) {
            margin-bottom: 23px;
        }
    }

    &__imgLogo {
        display: block;
        width: 81vw;
        margin: 36px auto;
    }

    &__map {
        iframe {
            width: 100%;
            height: 75vw;
        }
    }
}